@model BlogProject.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<h2>@Model.teacherfname @Model.teacherlname</h2>
<a class="dellink" style="display:block" href="/Teacher/List">back to teachers</a>
@Model.teacherfname @Model.teacherlname was hired on @Model.date with an employee #@Model.enumber and their salary is @Model.salary
<a style="display:block" class="dellink" href="/Teacher/Delete/@Model.teacherid">Delete</a>
<a style="display:block" class="upateLink" href="/Teacher/Update/@Model.teacherid">Update</a>
<h3>
    courses
</h3>
<div>
    <table>
        <thead>
            <tr>
                <th>
                    Course Name
                </th>
                <th>
                    Course Code
                </th>
            </tr>
        </thead>
        @foreach (var course in Model.courses)
        {
            <tr>
                <td>
                    @course.className
                </td>
                <td>
                    @course.classCode
                </td>
            </tr>
             
        }
    </table>
</div>